<div>

	<!--  第一部分：菜单导航 start -->
	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-10">
			<ol class="breadcrumb">
				<li>回收／迁移卡</li>
				<li class="active"><strong>迁移卡管理</strong></li>
			</ol>
		</div>
		<div class="col-lg-2"></div>
	</div>
	<!--  第一部分：菜单导航 end -->
	

	<!--  第二部分：列表部分 start -->
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="ibox relative">
		
			<!--  搜索部分 start -->
			<div class="ibox-title clearfix">
				<div class="row">
					<div class="form-group col-xs-8">
					
						<!--  关键字搜索部分 start -->
						<form class="form-inline" role="form" ng-submit="transferSearchForm();">
                            <div class="input-group">
                                <input type="text" class="form-control w-250" ng-model="transferQuery.keyWork" placeholder="输入网卡号、ICCID、IMSI" ng-disabled="advanceExpand"/>
                                <span class="input-group-addon glyphicon glyphicon-remove" ng-show="advanceExpands" ng-click="toggleClose();" aria-hidden="true"></span>
                            </div>
                            <div class="input-group">
                                <button class="btn btn-primary" type="submit" ng-disabled="advanceExpands">搜索</button>
                            </div>
                            <div class="input-group">
                                <button type="button" class="btn btn-primary" ng-click="toggleAdvance();" ng-class="{active:advanceExpands}">高级筛选</button>
                            </div>
                        </form>
                        <!--  关键字搜索部分 end -->
                        
                        <!--  高级搜索部分 start -->
						<div class="advance" ng-show="advanceExpandShow" style="min-width:730px;">
							<div class="ibox">
								<div class="ibox-title">
									<h5>高级搜索</h5>
								</div>
								<div class="ibox-content">
                                    <form class="form-horizontal form-fixed form-fixed-6" name="advance_form" role="form">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">ICCID:</label>
                                            <div class="control-content">
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                        <ui-select ng-model="transferQuery.iccidType" theme="bootstrap">
								                            <ui-select-match placeholder="全部">{{$select.selected.text}}</ui-select-match>
								                            <ui-select-choices repeat="item in typeList">
								                                <div ng-bind=" item.text "></div>
								                            </ui-select-choices>
								                        </ui-select>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" ng-model="transferQuery.iccidValue">
                                                    </div>
                                                    <label class="col-sm-2 control-label">请求时间:</label>
                                                    <div class="col-sm-4">
                                                        <input date-range-picker name="requestTime"
															class="form-control date-picker" type="text"
															ng-model="transferQuery.requestTime" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">网卡号:</label>
                                            <div class="control-content">
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                        <ui-select ng-model="transferQuery.cardNoType" theme="bootstrap">
								                            <ui-select-match placeholder="全部">{{$select.selected.text}}</ui-select-match>
								                            <ui-select-choices repeat="item in typeList">
								                                <div ng-bind=" item.text "></div>
								                            </ui-select-choices>
								                        </ui-select>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" ng-model="transferQuery.cardNoValue">
                                                    </div>
                                                    <label class="col-sm-2 control-label">迁移时间:</label>
                                                    <div class="col-sm-4">
                                                         <input date-range-picker name="transTime"
															class="form-control date-picker" type="text"
															ng-model="transferQuery.transTime" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">IMSI:</label>
                                            <div class="control-content">
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                        <ui-select ng-model="transferQuery.imsiType" theme="bootstrap">
								                            <ui-select-match placeholder="全部">{{$select.selected.text}}</ui-select-match>
								                            <ui-select-choices repeat="item in typeList">
								                                <div ng-bind=" item.text "></div>
								                            </ui-select-choices>
								                        </ui-select>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" ng-model="transferQuery.imsiValue">
                                                    </div>
                                                    <label class="col-sm-2 control-label">来源:</label>
                                                    <div class="col-sm-4">
                                                        <ui-select ng-model="transferQuery.source" theme="bootstrap">
								                            <ui-select-match placeholder="全部">{{$select.selected.text}}</ui-select-match>
								                            <ui-select-choices repeat="item in sourceList">
								                                <div ng-bind=" item.text "></div>
								                            </ui-select-choices>
								                        </ui-select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">服务商名称:</label>
                                            <div class="control-content">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <ui-select ng-model="transferQuery.spName" theme="bootstrap">
								                            <ui-select-match placeholder="全部">{{$select.selected.text}}</ui-select-match>
								                            <ui-select-choices repeat="item in spNameList">
								                                <div ng-bind=" item.text "></div>
								                            </ui-select-choices>
								                        </ui-select>
                                                    </div>
                                                    <label class="col-sm-2 control-label">运营商类型:</label>
                                                    <div class="col-sm-4">
                                                       <ui-select ng-model="transferQuery.opName" theme="bootstrap">
								                            <ui-select-match placeholder="全部">{{$select.selected.text}}</ui-select-match>
								                            <ui-select-choices repeat="item in opNameList">
								                                <div ng-bind=" item.text "></div>
								                            </ui-select-choices>
								                        </ui-select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">迁移状态:</label>
                                            <div class="control-content">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <ui-select ng-model="transferQuery.transStatus" theme="bootstrap">
								                            <ui-select-match placeholder="全部">{{$select.selected.text}}</ui-select-match>
								                            <ui-select-choices repeat="item in transStatusList">
								                                <div ng-bind=" item.text "></div>
								                            </ui-select-choices>
								                        </ui-select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>   
								</div>
								<div class="ibox-footer clearfix">
									<button type="button" class="btn btn-default pull-left" ng-click="resetForm();">清空</button>
									<div class="pull-right">
										<button type="button" class="btn btn-primary" ng-click="transferHighSearchForm();">搜索</button>
										<button type="button" class="btn btn-default" ng-click="toggleClose();">取消</button>
									</div>
								</div>
							</div>
						</div>
						<!--  高级搜索部分 end -->
					</div>
				</div>
			</div>
			<!--  搜索部分 end -->
			

			<!--  表格部分 start -->
			<div class="ibox-content">
				<div process-datatable dt-options="dtOptions" dt-instance="dtInstance" dt-columns="dtColumns"/>
			</div>
			<!--  表格部分 end -->
			
		</div>
	</div>
	<!--  第二部分：列表部分 end -->
	
</div>

