<div class="inmodal">
	<div class="modal-header">
		<h4 class="modal-title">卡详情</h4>
		<button type="button" class="close" data-dismiss="modal"
			ng-click="cancel()">
			<span aria-hidden="true">×</span> <span class="sr-only">Close</span>
		</button>
	</div>
	<div class="modal-body no-padding" style="overflow-x: auto;">
		<div class="row" style="width: 1600px;">
			<div class="col-sm-5">
				<div class="ibox float-e-margins m-b-none">
					<div class="ibox-title no-borders">
						<h3>卡基本信息</h3>
					</div>
					<div class="ibox-content">
						<table class="table table-bordered m-b-none table-layout">
							<tbody>
								<tr>
									<td width="22%">ICCID:</td>
									<td width="28%">{{flowCard.iccid}}</td>
									<td width="22%">IMSI:</td>
									<td width="28%">{{flowCard.imsi}}</td>
								</tr>
								<tr>
									<td>网卡号:</td>
									<td>{{flowCard.cardNo}}</td>
									<td>IMEI:</td>
									<td>{{flowCard.imei}}</td>
								</tr>
								<tr>
									<td>卡状态:</td>
									<td>{{cardStatus(flowCard.cardStatus)}}</td>
									<td>套餐状态:</td>
									<td>{{packageStatus(flowCard.packageStatus)}}</td>
								</tr>
								<tr>
									<td>实名认证:</td>
									<td>{{isAuthname(flowCard.isAuthname,flowCard.authStatus)}}</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>当月流量（MB）:</td>
									<td>{{flowCard.consumeMonthflow}}</td>
									<td>总流量（MB）:</td>
									<td>{{flowCard.totalFlow}}</td>
								</tr>
								<tr>
									<td>剩余流量（MB）:</td>
									<td>{{flowCard.remainTotalflow}}</td>
									<td>消耗流量（MB）:</td>
									<td>{{flowCard.usedTotalflow}}</td>
								</tr>
								<tr>
									<td>套餐开始时间:</td>
									<td>{{flowCard.packageBegintime}}</td>
									<td>套餐结束时间:</td>
									<td>{{flowCard.packageEndtime}}</td>
								</tr>
								<tr>
									<td>导入时间:</td>
									<td>{{flowCard.inStockTime}}</td>
									<td>出库时间:</td>
									<td>{{flowCard.outStockTime}}</td>
								</tr>
								<tr>
									<td>开通套餐手机号：</td>
									<td>{{flowCard.phoneNo}}</td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="ibox float-e-margins m-b-none">
					<div class="ibox-title no-borders">
						<h3>运营商信息</h3>
					</div>
					<div class="ibox-content ibox-content-inner">
						<table class="table table-bordered m-b-none table-layout">
							<tbody>
								<tr>
									<td width="22%">运营商类型:</td>
									<td width="28%">{{opOwned(flowCard.owned)}}</td>
									<td width="22%">运营商名称:</td>
									<td width="28%">{{flowCard.opName}}</td>
								</tr>
								<tr>
									<td>卡激活时间:</td>
									<td>{{(flowCard.activeTime)}}</td>
									<td>开户时间:</td>
									<td>{{flowCard.openAccountTime}}</td>
								</tr>
								<tr>
									<td>流量池编号/名称:</td>
									<td>{{flowCard.flowpoolId}}/{{flowCard.flowpoolName}}</td>
									<td>APN名称:</td>
									<td>{{flowCard.apnName}}</td>
								</tr>
								<tr>
									<td>APN通道激活时间:</td>
									<td class="text-wrap">{{flowCard.apnActiveTime}}</td>
									<td>流量功能状态:</td>
									<td class="text-wrap">{{flowStatus(flowCard.flowStatus)}}</td>
								</tr>
								<tr>
									<td>套餐编号/名称:</td>
									<td class="text-wrap">{{flowCard.pkCode}}/{{flowCard.pkName}}</td>
									<td>套餐状态:</td>
									<td class="text-wrap">{{pkStatus(flowCard.pkStatus)}}</td>
								</tr>
								<tr>
									<td>套餐生效时间:</td>
									<td class="text-wrap">{{flowCard.pkStartTime}}</td>
									<td>套餐失效时间:</td>
									<td class="text-wrap">{{flowCard.pkEndTime}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="ibox float-e-margins m-b-none">
					<div class="ibox-title no-borders">
						<h3>服务商信息</h3>
					</div>
					<div class="ibox-content">
						<table class="table table-bordered m-b-none">
							<thead>
								<tr>
									<th>商户名称</th>
									<th>商户级别</th>
									<th>发货时间</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{flowCard.spName}}</td>
									<td>{{splevel(flowCard.splevel)}}</td>
									<td>{{flowCard.outStockTime}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
